/* 
COLORSSSSS
#F7603C - 64 - tomato
#F69665 - 16 - atomic tangerine
#F3B27B - 8 - fawn
#EEE1C9 - 4 - pearl
#EFE4DA - 2 - linen
#FAF8EF - background - floral white
#786E65 - text - dim gray
#BBAEA0 - outlines - khaki
#CDC1B5 - boxes - dun
*/

body {
    background-color: #FAF8EF;
    font-family: 'Lexend Deca', sans-serif;
    /* font-size: 100%; */
}

#title {
    font-size: 40px;
    margin: auto 350px;
}

#gameboard {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #BBAEA0;
    /* text-align: justify; */
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


#block0, #block1, #block2, #block3 {
    width: 100px;
    height: 100px;
    background-color: #CDC1B5;
    display: inline-block;
    vertical-align: top;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }